.Dialog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 1.075rem;
  text-align: center;
  line-height: 1.7rem;
  margin-top: 30px;
  background-color: var(--bg_modal_color_main);
  border-radius: 5px;

  &__Content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--bg_modal_color_main);

    h1 {
      font-size: 1.5rem;
      font-weight: 500;
      margin: 0;
      color: var(--color_text_header_main);
    }

    p {
      font-size: 0.9rem;
      font-weight: 400;
      margin: 0;
      color: var(--color_text_body_main);
    }
  }

  &__Actions {
    align-items: center;
    justify-content: center;
    gap: 20px;

    button {
      width: 2.5rem;
      min-width: 180px;
      padding: 10px 15px;
      font-size: 0.9rem;
      text-transform: uppercase;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

::ng-deep .mat-mdc-dialog-surface {
  border-radius: 20px !important;
  background-color: var(--bg_modal_color_main) !important;
}
