<div class="container">
  <div class="form-grid">
    <div class="form-item col-span-8">
      <h2>Permisos</h2>
    </div>
    <div class="form-item col-span-4">
      <app-form-field-auto-complete
        [label]="'Rol'"
        [keyField]="'key'"
        [valueField]="'value'"
        [control]="rolModuloForm.controls['rol']"
        [placeholder]="'Seleccione rol'"
        [controlName]="'rol'"
        (valueChanged)="getPermisos($event)"
        [options]="rolesSelect"
      >
      </app-form-field-auto-complete>
    </div>
  </div>
  <div class="table-wrapper">
    <app-table-paginate
      [loading]="loading"
      [dataSource]="dataSourcePermisosAll"
      [enablePagination]="false"
      [headers]="headers"
    >
    </app-table-paginate>
  </div>
</div>
