<mat-form-field appearance="outline" class="form-field-password" [ngClass]="getClass()">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    autocomplete="off"
    [type]="isVisible ? 'text' : 'password'"
    [formControl]="control"
    [id]="controlName"
    [placeholder]="placeholder"
    [readonly]="!isEditable"
  />
  <mat-icon matIconSuffix (click)="isVisible = !isVisible">
    {{ isVisible ? 'visibility' : 'visibility_off' }}
  </mat-icon>

  @for (error of messageErrors; track error) {
    <mat-error *ngIf="control.hasError(objectKeys(error).toString())">
      {{ error[objectKeys(error).toString()] }}
    </mat-error>
  }
</mat-form-field>
