<footer class="app-footer">
  <div class="footer-inner">
    <div class="footer-left">
      <img
        ngSrc="/jne-logo.png"
        alt="Jurado Nacional de Elecciones"
        class="footer-logo"
        height="220"
        width="232"
      />
      <div>
        <div class="brand">Jurado Nacional de Elecciones</div>
        <div class="copy">© {{ year }} PREVENCOPE</div>
      </div>
    </div>

    <div class="footer-right">
      @for (item of social; track $index) {
        <a
          class="social"
          href="{{ item.url }}"
          aria-label="{{ item.name }}"
          target="_blank"
          rel="noopener"
          [matTooltip]="item.name"
        >
          <button mat-icon-button>
            <fa-icon
              [icon]="item.icon"
              [attr.style]="'color: ' + item.color + ' !important'"
            ></fa-icon>
          </button>
        </a>
      }
    </div>
  </div>
</footer>
